<%- include('layout/header') %>
<%- include('layout/nav') %>
<div class="pageutama" style="width: 75%;">
    <h2> Ini adalah halaman contact. Contact for this company through wa, email and instagram. </h1>
    
        <ul>
            <li> <a href="#""> whatsapp </a></li> <br>
            <li> <a href="#""> email </a></li> <br>
            <li> <a href="#""> instagram </a></li> <br>
        </ul>
    
</div>

<%- include('layout/footer') %>