
<div class="menu" style="width: 75%;">
<!-- <img src="/images/logo.jpg" class="image1"> -->
<img src="/images/logo2.jpg" class="image1">
<label> NewTon Education
    
<h3>
    <ul> 
        <li><a href='/'>home</a></li>
        <li> <a href='/about'>about </a> </li>
        <li> <a href='/contact'>contact</a> </li>

    </ul>
</h3>

</label>

</div>