<%- include('layout/header') %>


selamat datang, user di admin page 
<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <button class="btn btn-outline-success" type="button"><a href="/admin/tambah_barang"> Input Barang</a></button>
      <button class="btn btn-outline-success" type="button"><a href="/admin/tambah_user">Tambah User</a></button>
    </form>
</nav>
    
    
