<%- include('layout/header') %>
<%- include('layout/nav') %>
<div class="pageutama" style="width: 87%;">
    <h2>  </h1>
    <h2> Welcome to Inventory WGS Website </h1>
    <h3> Hai, <%= user %> selamat datang di website inventory wgs</h3>
    <p> To be next Leaders </p>

    <!-- <div>
        <a href="/user/barang_masuk" class="btn btn-outline-dark">Barang Masuk</a>
        <a href="/user/barang_keluar" class="btn btn-outline-dark">Barang Keluar</a>
    </div> -->
    <img src="/public/images/logo.jpg"> 
    
    
    
</div>
