<%- include('layout/header') %>
<%- include('layout/nav') %>
<div class="pageutama" style="width: 87%;">
    <h2>  </h1>
    <h2> Welcome to Inventory WGS Website </h1>
    <p> To be next Leaders </p>
    <img src="/public/images/logo.jpg"> 
    <div class="kotak"> <p> <img src="/public/images/logo.jpg"> </p> <p>
        
    </p> </div>
    
    
</div>
<%- include('layout/footer') %>