<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Ini adalah halaman contact. Contact for this company through wa, email and instagram. </h1>

    <ul>
        <li> <a href="#""> whatsapp </a></li> <br>
        <li> <a href="#""> email </a></li> <br>
        <li> <a href="#""> instagram </a></li> <br>
    </ul>
    <a href="/">kembali ke menu</a> <br> <br>
    <a href="/about"> Contact</a>
</body>
</html>