<%- include('layout/header') %>
<%- include('layout/nav') %>
<div class="pageutama" style="width: 100%;">
    <h2> ini adalah halaman index. The index page consider to home page</h1>
    <h2> welcome to server node js </h1>
    <p> welcome to my page </p>
    <div class="kotak"> <p> contact list of </p> <p>
        
    </p> </div>
    
    
</div>
<%- include('layout/footer') %>