<%- include('layout/header') %>
<%- include('layout/nav') %>


<div class="container">
    <div class="col">
        

        <div class="img1">
            <div class="col text-center">
            <img src="/images/dede.jpg" alt="lgo apple" class="image2">
            
            <div class="display-4">Dede Anjar Permana</div>
            <p class="lead">Bootcamp WGS</p>
        </div>
    </div>
        <div class="img2">
            <div class="col text-center">
            <img src="/images/dede.jpg" alt="lgo apple" class="image2">
            
            <div class="display-4">Dede Anjar Permana</div>
            <p class="lead">Bootcamp WGS</p>
            </div>
        </div>
        
    </div>
</div>


<%- include('layout/footer') %>