.navbar {
    display: flex;
    justify-content: space-between;
    
}
.kiri {
    padding: 10px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;


}
.kanan{
    margin-top: -13px;
    
}
.kanan ul{
    
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    
    float: right;
}

.kanan li{
    margin-left: 10px;
    list-style: none;
}

